@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.shion {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: content-box currentColor;
    border: 2px solid transparent;
    border-radius: 8px;
    color: #dadce0;
}
